<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xsi:schemaLocation="    
           http://www.springframework.org/schema/beans    
           http://www.springframework.org/schema/beans/spring-beans.xsd    
           http://www.springframework.org/schema/aop    
           http://www.springframework.org/schema/aop/spring-aop.xsd  
           http://www.springframework.org/schema/context    
           http://www.springframework.org/schema/context/spring-context.xsd "> 
    
    <!-- 配置数据库相关参数properties的属性：${url} -->
    <context:property-placeholder location="classpath:jdbc.properties" />
    <!-- 数据库连接池 -->
   <bean id="dataSourceQ" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${sqlserver.driver}"></property>
		<property name="url" value="${sqlserver.url}"></property>
		<property name="username" value="${sqlserver.username}"></property>
		<property name="password" value="${sqlserver.password}"></property>
	</bean>
   
   <!-- 配置mybatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceQ"></property>
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="mapperLocations" value="classpath:com/dive/dao/mapper/*.xml"></property>
		<property name="typeAliasesPackage" value="com.dive.entity"></property>
	</bean>
	
	 <!-- MyBatis 动态实现  -->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 对Dao 接口动态实现，需要知道接口在哪  -->
        <property name="basePackage" value="com.dive.dao"/>
    </bean>
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"></constructor-arg>
	</bean> 
	
</beans>